@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

::selection {
    background-color:coral;
}

.font-header {
    font-family: 'Nosifer', sans-serif;
}

.font-h {
    font-family: 'Archivo Black', sans-serif;
}

.font-link {
    font-family: 'Acme', sans-serif;
}

.font-button {
    font-family: 'Montserrat', sans-serif;
}