{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Donor Dash | Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static 'css/global.css' %}>
        <link rel="icon" href={% static 'images/favicon.ico' %}>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        {% csrf_token %}

        <nav class="bg-white w-full border-b-4 border-red-500 shadow-inner shadow-red-200 fixed z-50">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="/" class="flex items-center hover:scale-105 hover:text-red-500 duration-300">
                    <img src={% static 'images/favicon.ico' %} class="h-8 mr-3" alt="Donor Dash Logo">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap cursor-pointer font-header">Donor Dash</span>
                </a>
                <div class="flex md:order-2">
                    <a style="visibility:hidden;" disabled ><button type="button" class="text-white bg-red-600 hover:bg-red-700 focus:ring-2 focus:ring-black rounded-lg text-md px-4 py-2 text-center mr-3 md:mr-0 font-button">Log In</button></a>
                    <button onClick="toggle()" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between w-full md:flex md:w-auto md:order-1 hidden" id="navbar-sticky">
                    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
                        <li><a href="/" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300 ">Home</a></li>
                        <li><a href="/about" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300 ">About</a></li>
                        <li><a href="/services" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300 ">Services</a></li>
                        <li><a href="/login" class="block py-2 pl-3 pr-4 font-link text-white bg-red-500 rounded md:text-xl md:bg-transparent md:text-red-500 md:p-0 hover:scale-105 duration-300">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="h-[200px] bg-white w-full border-b border-gray-200 font-button">
            <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white text-black ">

                <div class="fixed flex top-[68px] flex-col top-0 left-0 w-14 hover:w-64 md:w-64 bg-red-700  h-full text-white transition-all duration-300 border-none z-10 sidebar">
                    <div class="flex items-center py-10 justify-center md:justify-center  w-14 md:w-64 h-14 bg-red-600  border-none">
                        <img class="w-10 h-10 md:w-10 md:h-10 md:mr-4 rounded-full overflow-hidden" src={% static "images/dummy-avatar.jpg" %} />
                        <span id="name2" class="hidden md:block text-2xl">{{ donor.name }}</span>
                    </div>
                    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
                    <ul class="flex flex-col py-4 space-y-1">
                        <li>
                        <a id="openModalBtn" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-red-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-red-400 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Profile</span>
                        </a>
                        </li>
                        <li>
                        <a href="/logout" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-red-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-red-400 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out w-5 h-5">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Log Out</span>
                        </a>
                        </li>
                    </ul>
                    </div>
                </div>

                <!-- Profile Modal -->
                <div class="relative z-10 hidden duration-500" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="profile-modal">
                    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                  
                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto ">
                      <div class="flex min-h-full items-center justify-center text-center ">
                        <div class="relative transform overflow-hidden rounded-xl bg-white text-left shadow-xl transition-all  h-full sm:w-full sm:max-w-md">
                          <div class="bg-white">
                            <div class="relative flex h-32 w-full justify-center rounded-lg bg-cover" >
                                <img src={% static "images/red-background.png" %} class="absolute flex h-32 w-full justify-center rounded-lg bg-cover"> 
                                <div class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                                    <img class="h-full w-full rounded-full" src={% static "images/dummy-avatar.jpg" %} />
                                </div>
                            </div>
                            <div class="absolute right-4 top-4 flex justify-end "> 
                                <button type="button" id="closeModalBtn" class="text-white bg-transparent hover:text-gray-500 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center hover:scale-110 duration-300" data-modal-hide="default-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>

                            <div class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden pt-8">
                                <div class="border-b px-4 pb-6">
                                    <div class="text-center font-link"> 
                                        <div class="py-2">
                                            <h3 id="name" class="font-bold text-3xl text-gray-800 mb-1 font-h">{{ donor.name }}</h3>
                                            <h3 id="email" class="font-bold text-sm text-gray-500 mb-8 font-button">{{ user.email }}</h3>
                                            <div class="inline-flex w-full items-center justify-between gap-x-6">
                                                <h3 class="font-bold text-xl text-gray-800 font-link">Blood Group : </h3>
                                                <h3 id="bloodgroup" class="text-lg text-red-700 font-button"> {{ donor.blood_group }} </h3>
                                            </div>
                                            <div class="inline-flex w-full items-center justify-between gap-x-6">
                                                <h3 class="font-bold text-xl text-gray-800 font-link">Gender : </h3>
                                                <h3 id="gender" class="text-lg text-gray-700 font-button"> 
                                                    {% if donor.gender == "M" %}
                                                    Male
                                                    {% else %}
                                                    Female
                                                    {% endif %} </h3>
                                            </div>
                                            <div class="inline-flex w-full items-center justify-between gap-x-6">
                                                <h3 class="font-bold text-xl text-gray-800 font-link">City : </h3>
                                                <h3 id="city" class="text-lg text-gray-700 font-button"> {{ donor.city.city_name }} </h3>
                                            </div>
                                            <div class="inline-flex w-full items-center justify-between gap-x-6">
                                                <h3 class="font-bold text-xl text-gray-800 font-link">Date of Birth : </h3>
                                                <h3 id="dob" class="text-lg text-gray-700 font-button"> {{ donor.date_of_birth }} </h3>
                                            </div>
                                            <div class="inline-flex w-full items-center justify-between gap-x-6">
                                                <h3 class="font-bold text-xl text-gray-800 font-link">Phone no. : </h3>
                                                <h3 id="phone" class="text-lg text-gray-700 font-button"> {{ donor.phone }} </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Profile Modal -->
                
                <div class="h-full ml-14 mt-14 md:ml-64">
                
                    <!-- Statistics Cards -->
                    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 pt-20 lg:px-48 sm:px-24 px-8 gap-8">
                        <div class="bg-red-600 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-red-700 text-white font-medium group">
                            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30" height="30"
                                        viewBox="0 0 291.505 291.505" style="enable-background:new 0 0 291.505 291.505;" xml:space="preserve">
                                    <g>
                                        <path style="fill:#FFDB77;" d="M283.774,152.855c-5.163,0-133.554,0-141,0c-13.808,0-25,11.193-25,25s11.192,25,25,25h11.745
                                            l-42.206,26.599l-66.261-41.758c-11.68-7.359-27.117-3.86-34.479,7.821c-7.361,11.681-3.859,27.118,7.821,34.479l79.59,50.158
                                            c8.144,5.132,18.513,5.133,26.658,0l122.656-77.3h35.476V152.855z"/>
                                        <g>
                                            <path style="fill:#FF7876;" d="M134.404,88.686c0,19.4-15.727,35.128-35.128,35.128c-19.4,0-35.128-15.727-35.128-35.128
                                                c0-19.4,35.128-81.192,35.128-81.192S134.404,69.285,134.404,88.686z"/>
                                            <g>
                                                <path style="fill:#414042;" d="M283.774,145.355c-5.086,0-133.489,0-141,0c-17.921,0-32.5,14.579-32.5,32.5
                                                    c0,14.018,8.922,25.992,21.385,30.542l-19.346,12.192L50.05,181.351c-15.161-9.553-35.268-4.992-44.823,10.168
                                                    c-9.554,15.161-4.993,35.269,10.168,44.823l79.59,50.158c10.585,6.671,24.063,6.676,34.655,0l120.824-76.145h33.31
                                                    c4.142,0,7.5-3.358,7.5-7.5v-50C291.274,148.713,287.916,145.355,283.774,145.355z M276.274,195.355h-27.976
                                                    c-1.415,0-2.801,0.4-3.999,1.155l-122.657,77.3c-5.698,3.592-12.957,3.595-18.661,0l-79.59-50.158
                                                    c-8.163-5.145-10.619-15.972-5.475-24.135c5.145-8.163,15.972-10.619,24.136-5.475l66.261,41.758c2.443,1.54,5.554,1.54,7.997,0
                                                    l40.374-25.444h13.591c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5c-15.5,0-12.165,0-27.502,0c-9.65,0-17.5-7.851-17.5-17.5
                                                    c0-9.65,7.85-17.5,17.5-17.5c10.6,0,129.082,0,133.5,0L276.274,195.355L276.274,195.355z"/>
                                                <path style="fill:#414042;" d="M99.277,131.314c23.505,0,42.627-19.123,42.627-42.628c0-18.909-27-68.887-36.107-84.898
                                                    c-2.871-5.05-10.168-5.052-13.04,0C83.5,20.062,56.649,69.812,56.649,88.686C56.649,112.191,75.771,131.314,99.277,131.314z
                                                        M99.277,23.016c12.616,23.486,27.627,54.928,27.627,65.669c0,15.234-12.394,27.628-27.627,27.628s-27.628-12.394-27.628-27.628
                                                    C71.649,77.951,86.66,46.505,99.277,23.016z"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="text-right">
                            <p class="text-2xl">{{ num_of_donations}}</p>
                            <p>Donations made</p>
                            </div>
                        </div>
                        <div class="bg-red-600 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-red-700 text-white font-medium group">
                            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                                <svg width="30" fill="none" height="30" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-red-600 transform transition-transform duration-500 ease-in-out"><path d="M16.17,7.78c-.89-1.33-2-3-3.3-5.28a1,1,0,0,0-1.74,0c-1.31,2.31-2.41,4-3.3,5.28C6,10.52,5,12,5,15a7,7,0,0,0,14,0C19,12,18,10.52,16.17,7.78Z" style="fill: rgb(220, 0, 0);"></path></svg>
                            </div>
                            <div class="text-right">
                            <p class="text-2xl">{{ sum_of_amount }} ml</p>
                            <p>Blood donated</p>
                            </div>
                        </div>
                    </div>
                    <!-- ./Statistics Cards -->
                
                    <!-- Donation Summary -->
                    <div class="pb-10">
                        <div class="relative w-full bg-white px-6 pb-8 mb-8 sm:mx-auto sm:rounded-lg sm:px-10">
                            <div class="mx-auto px-5">
                                <div class="font-button mx-auto mt-8 grid">
                                    <div class="w-full py-8">
                                        <h1 class="font-h text-4xl font-bold ">Donation Summary</h1>   
                                    </div>

                                    <div class="w-full">
                                        <h3 class="font-h text-gray-500 text-xl font-link">New Donations (<span>{{ num_of_donations_new }}</span>)</h3> 
                                    </div>
                                    <div class="mb-12">
                                        {% for donation in donations_new %}
                                        <div id="donation_{{ donation.pk }}" class="donation_class py-3">
                                            <details class="group bg-white shadow-lg rounded-lg">
                                                <summary class="flex cursor-pointer list-none items-center justify-between  p-4 ">
                                                    <p class="text-gray-600">{{ donation.donation_date }}</p>
                                                    <p class="text-xl font-link">{{ donation.bloodbank.bloodbank_name }}</p>
                                                    <p></p>
                                                    <p class="text-red-600 font-link text-xl">{{ donation.amount }} ml</p>
                                                    <p></p><p></p>
                                                    <button id="donation_button_{{ donation.pk }}" class="middle none center mr-4 flex items-center justify-center rounded-lg bg-gradient-to-tr from-red-700 to-red-500 p-3 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none {% if not donation.is_liked %} opacity-20 {% endif %}" data-ripple-light="true">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                        </svg>
                                                    </button>
                                                </summary>
                                                <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-4 gap-4 p-4">
                                                    <h2 class="font-bold text-lg">Pct Contamination :</h2><p class="col-span-3">{{ donation.pct_contamination }}</p>
                                                    <h2 class="font-bold text-lg">Glucose :</h2><p class="col-span-3">{{ donation.glucose }}</p> 
                                                    <h2 class="font-bold text-lg">Platelet Count :</h2><p class="col-span-3">{{ donation.platelet_count }}</p>
                                                    <h2 class="font-bold text-lg">Remarks :</h2><p class= "{% if donation.info == "Good" %}text-green-500{% elif donation.info == "Normal" %}text-yellow-500{% else %}text-red-500{% endif %} font-bold col-span-3">{{ donation.info }}</p>
                                                </div>
                                            </details>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="w-full">
                                        <h3 class="font-h text-gray-500 text-xl font-link">Previous Donations (<span>{{ num_of_donations_old }}</span>)</h3> 
                                    </div>
                                    <div class="mb-12">
                                        {% for donation in donations_old %}
                                        <div id="donation_{{ donation.pk }}" class="donation_class py-3">
                                            <details class="group bg-white shadow-lg rounded-lg">
                                                <summary class="flex cursor-pointer list-none items-center justify-between  p-4 ">
                                                    <p class="text-gray-600">{{ donation.donation_date }}</p>
                                                    <p class="text-xl font-link">{{ donation.bloodbank.bloodbank_name }}</p>
                                                    <p></p>
                                                    <p class="text-red-600 font-link text-xl">{{ donation.amount }} ml</p>
                                                    <p></p><p></p>
                                                    <button id="donation_button_{{ donation.pk }}" class="middle none center mr-4 flex items-center justify-center rounded-lg bg-gradient-to-tr from-red-700 to-red-500 p-3 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none {% if not donation.is_liked %} opacity-20 {% endif %}" data-ripple-light="true">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                        </svg>
                                                    </button>
                                                </summary>
                                                <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-4 gap-4 p-4">
                                                    <h2 class="font-bold text-lg">Pct Contamination :</h2><p class="col-span-3">{{ donation.pct_contamination }}</p>
                                                    <h2 class="font-bold text-lg">Glucose :</h2><p class="col-span-3">{{ donation.glucose }}</p> 
                                                    <h2 class="font-bold text-lg">Platelet Count :</h2><p class="col-span-3">{{ donation.platelet_count }}</p>
                                                    <h2 class="font-bold text-lg">Remarks :</h2><p class= "{% if donation.info == "Good" %}text-green-500{% elif donation.info == "Normal" %}text-yellow-500{% else %}text-red-500{% endif %} font-bold col-span-3">{{ donation.info }}</p>
                                                </div>
                                            </details>
                                        </div>
                                        {% endfor %}
                                    </div>
                                        
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Donation Summary -->         
                                    
                    <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-red-500 shadow md:flex md:items-center md:justify-between md:p-6">
                        <span class="text-sm text-gray-500 sm:text-center">© 2023 <a target="_blank" href="https://github.com/SilverDragonOfR" class="hover:underline">SilverDragonOfR</a> & <a target="_blank" href="https://github.com/SaiAdarshP" class="hover:underline">SaiAdarshP</a>.</span>
                        <div class="flex mt-4 space-x-5 sm:justify-center md:mt-0">
                            <a href="/" class="text-gray-400 hover:text-red-500 hover:scale-125 duration-300">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                                    <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="sr-only">Facebook page</span>
                            </a>
                            <a href="/" class="text-gray-400 hover:text-red-500 hover:scale-125 duration-300">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                                    <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="sr-only">Twitter page</span>
                            </a>
                            <a href="/" class="text-gray-400 hover:text-red-500 hover:scale-125 duration-300">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.5rg/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="sr-only">GitHub account</span>
                            </a>
                        </div>
                    </footer>
                </div>
            </div>  
        </main>
    </body>

    <script defer src={% static "js/csrf_token.js" %}></script>
    <script defer src={% static "js/like_button.js" %}></script>
    <script defer src={% static "js/seen_button.js" %}></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>
    <script defer src={% static "js/toggle.js" %}></script>
    <script defer src={% static "js/profile_modal.js" %}></script>
</html>