{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Donor Dash | Log In</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href={% static 'css/global.css' %}>
        <link rel="icon" href={% static 'images/favicon.ico' %}>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>

        {% if wrong %}
        <div class="top-20 absolute m-auto left-0 right-0 error mt-2">
            <p class="text-sm font-link text-center text-red-600">
                {{ wrong_text }}
            </p>
        </div>
        {% endif %}


        <main class="bg-gray-100 w-full h-screen border-b border-gray-200">
            <nav class="bg-white w-full border-b-4 border-red-500 shadow-inner shadow-red-200 fixed z-50">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="/" class="flex items-center hover:scale-105 hover:text-red-500 duration-300">
                        <img src={% static 'images/favicon.ico' %} class="h-8 mr-3" alt="Donor Dash Logo">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap cursor-pointer font-header">Donor Dash</span>
                    </a>
                    <div class="flex md:order-2">
                        <a style="visibility:hidden;" disabled><button type="button" class="cursor-default text-white bg-red-600 hover:bg-red-700 focus:ring-2 focus:ring-black rounded-lg text-md px-4 py-2 text-center mr-3 md:mr-0 font-button">Log In</button></a>
                        <button onClick="toggle()" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-sticky" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-5 h-5 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="items-center justify-between hiddden w-full md:flex md:w-auto md:order-1 hidden" id="navbar-sticky">
                        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
                            <li><a href="/" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300">Home</a></li>
                            <li><a href="/about" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300">About</a></li>
                            <li><a href="/services" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300">Services</a></li>
                            <li><a href="/login" class="block py-2 pl-3 pr-4 font-link text-gray-900 rounded hover:bg-gray-100 hover:text-red-500 md:text-xl md:hover:bg-transparent md:hover:text-red-500 md:p-0 hover:scale-105 duration-300">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="pt-32 pb-24">
                <div class="flex flex-col items-center justify-center px-6 pt-36 pb-36 mx-auto">
                    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1 class="text-2xl font-button font-bold leading-tight tracking-tight text-gray-900 md:text-3xl">
                                Reset Password
                            </h1>
                            <form class="space-y-4 md:space-y-6" method="post">
                                {% csrf_token %}
                                <div>
                                    <label for="password" class="block mb-2 text-sm font-bold text-gray-900 font-button">Password</label>
                                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                                </div>
                                <div class="relative">
                                    <label for="repassword" class="block mb-2 text-sm font-bold text-gray-900 font-button">Confirm Password</label>
                                    <input type="password" name="repassword" id="repassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                                    <h3 id="password-hint" class="font-link text-xs absolute left-40 top-1">
                                        ... Password is empty
                                    </h3>
                                </div>
                                <button type="submit" id="post-button" class="disabled:bg-gray-200 w-full bg-red-500 font-button text-white focus:ring-2 focus:ring-black font-bold rounded-lg text-lg px-5 py-2.5 text-center hover:bg-red-700">Sign Up</button>
                                <p class="text-sm font-light text-gray-500">
                                    Don’t have an account yet? <a href="/signup" class="font-medium text-primary-600 hover:underline">Sign Up</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-red-500 shadow md:flex md:items-center md:justify-between md:p-6">
            <span class="text-sm text-gray-500 sm:text-center">© 2023 <a target="_blank" href="https://github.com/SilverDragonOfR" class="hover:underline">SilverDragonOfR</a> & <a target="_blank" href="https://github.com/SaiAdarshP" class="hover:underline">SaiAdarshP</a>.</span>
            <div class="flex mt-4 space-x-5 sm:justify-center md:mt-0">
                <a href="/" class="text-gray-400 hover:text-red-500 hover:scale-125 duration-300">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="/" class="text-gray-400 hover:text-red-500 hover:scale-125 duration-300">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                        <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="/" class="text-gray-400 hover:text-red-500 hover:scale-125 duration-300">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.5rg/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
            </div>
        </footer>
    </body>

    <script defer src={% static "js/confirmpassword.js" %}></script>
    <script defer src={% static "js/error.js" %}></script>
    <script defer src={% static "js/toggle.js" %}></script>
</html>